.App {
  text-align: center;
  padding: 0 100px;
}

.top {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 20px 0px;
  align-items: center;
}

.mapp {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.mapp > div {
  background-color: rgb(212, 194, 162);
}

.sett {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.sett span {
  font-weight: bold;
}

select {
  padding: 0 1vw;
  background-color: rgb(212, 194, 162);
  height: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
